body{
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}
.cabecalho{
    background-color: rgb(226, 238, 238);
}
.cabecalho-lista{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.cabecalho-lista__itens{
    margin: 1%;
}
.apresentacao{
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start; 
}
.apresentacao__img{
    width: 180px;
    border-radius: 50px;
     margin: 0 2% 0 10%; 

}
.apresentacao__titulo{
    font-weight: 700;
    font-size: 2.0em;
}
.apresentacao__descricao{
    margin-top: 2%;
}
main{
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
}
.abas{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1em;
    width: 34%;
    height: 50%;
   
    padding: 1%;
    margin: 0 1% 5% 0;
}
 .abas:nth-child(2n+1){
    margin-left:2%;
    margin-right: 2%;
} 
.abas__titulo{
    text-align: center;
    font-size: 2em;
    margin: 5% 0;
    font-weight: 700;
    color: #383838;
}
.abas__texto{
    text-align: justify;
    margin: 0 2%;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
}
.abas__itens{
    
    text-align: start;
    font-size: 1.2em;
    line-height: 1.5;
}
.abas__botao{
    margin:  5% 35% ;
    border-radius: 5%;
    justify-content: center;
    width: 30%;
    background-color: aqua;
    padding: 2%;   
    text-align: center;
}