body{
    font-family: 'Montserrat', sans-serif;
}
.cabecalho{
    background-color: aqua;
}
.cabecalho-lista{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.cabecalho-lista__itens{
    margin: 1%;
}
.apresentacao{
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
}
.apresentacao__img{
    width: 180px;
    border-radius: 50px;
    margin: 0 2% 0 10%;

}
.apresentacao__titulo{
    font-weight: 700;
    font-size: 2.5em;
}
.apresentacao__descricao{
    margin-top: 2%;
}
main{
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
}
.abas{
    border: 1px solid black;
    border-radius: 10%;
    width: 34%;
    height: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1%;
}
.abas:nth-child(2n+1){
    margin: 1% 2%;
}
.abas__titulo{
    text-align: center;
    font-size: 2em;
    margin: 1%;
    font-weight: bold;
}
.abas__texto{
    margin: 0 2%;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
}